services:
  app:
    build: .
    container_name: cloudzz-links-app
    restart: always
    ports:
      - "3535:3535"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    depends_on:
      - postgres

  postgres:
    image: postgres:15-alpine
    container_name: cloudzz-links-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: cloudzz_links
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:


